## Exam 2

### Author: Emily Hernandez

### Special Thanks:

In [26]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

# This stops a few warning messages from showing
pd.options.mode.chained_assignment = None 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [27]:
file_name = 'flights'
file_location = 'https://joannabieri.com/introdatascience/data/'+file_name+'.csv'

In [38]:
# Load the data.
file_name = 'flights'
file_location1 = 'https://joannabieri.com/introdatascience/data/'+file_name+'.csv'
DF = pd.read_csv(file_location1)
DF

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 10:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 10:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 10:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 10:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213.0,14.0,55.0,2013-09-30 18:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198.0,22.0,0.0,2013-10-01 02:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764.0,12.0,10.0,2013-09-30 16:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419.0,11.0,59.0,2013-09-30 15:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431.0,8.0,40.0,2013-09-30 12:00:00

### P. Preliminary Do an initial exploration of the flights data. Report on all the typical things: Variables, Observations, Data Types, Weirdness or NaNs…

In [30]:
#Find variables and observations

DF.shape

(336776, 19)

PRELIMINARY RESULTS:

The data frame has 33,6776 observations and 19 variables. The types of data seen in the data frame are both numerical and categorical values. The numerical values would be: year (quantitative), month (quantitative), day (quantitative), dep_time (quatitative), dep_delay (quantitative), arr_time (quantitative), arr_delay (quantitative), flight (quantitative), air time (quantitative), distance (quantitative), hour (quantitative), minute (quantitative). The categorical data shown would be: carrier (qualitative), tailnum (qualitative), origin (qualitative), destination or "dest" (qualitative), and time_hour which is also qualitative. 

There is some weirdness within this data set. We can see that in the dep_time, arr_time, air_time, dep_delay, and arr_delay there are some missing values or missing data. This could be from flights that were canceled or never departed. We can also see that there are some inconsisten data ranges, giving us negative values in the data set under dep_delay and arr_delay. This could just mean a flight left of either a flight arrived early not at the designated time. Some of this delay values could also cause our data to be skewed because of outliers.

### 1. Question 1 (5 points)
#### What are the ten most common destinations for flights from NYC airports in 2013?

#### Make a table (Data Frame) that lists these in descending order of frequency and shows the number of flights heading to each airport.

#### Hint: You can use the airports dataset to look up the airport name based on dest code. This is the ‘faa’ code. BEWARE: If you load in a new data frame give it a new name! Our main data is in DF.

In [39]:
#Import airport data & show data frame

file_name = 'airports'
file_location2 = 'https://joannabieri.com/introdatascience/data/'+file_name+'.csv'
DF_airport = pd.read_csv(file_location2)
DF_airport

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044.0,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264.0,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801.0,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523.0,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11.0,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454.0,-7.0,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7.0,-5.0,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0.0,-5.0,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76.0,-5.0,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35.0,-5.0,A,America/New_York

In [45]:
#Part 1 question 1 (find ten most common destinations for flights from nyc airports in 2013.

DF['dest'].value_counts().head(10)

dest
ORD    17283
ATL    17215
LAX    16174
BOS    15508
MCO    14082
CLT    14064
SFO    13331
FLL    12055
MIA    11728
DCA     9705
Name: count, dtype: int64

Question 1 Part 1:

The top ten most common destinations for flights from NYC airports in 2013 are: ORD (Chicago), ATL (Atlanta), LAX (Los Angeles), BOS (Boston), MCO (Orlando), FLL (Fort Launderdale), CLT ( Charlotte), MIA (Miami), SFO (San Francisco), DFW (Dallas-Fort Worth).

In [47]:
top10=['flights'
top10.columns()

NameError: name 'top10' is not defined