## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 12
---------------------------------------

GOALS:

1. Talk about Ethics of Web Scraping
2. Practice web scraping.

----------------------------------------------------------

This homework has **3 questions**, **1 exercise** and **1 optional challenge problem**.

## Important Information

- Email: [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
- Office Hours: Duke 209 <a href="https://joannabieri.com/schedule.html"> Click Here for Joanna's Schedule</a>

## Announcements

**In NEXT WEEK - Data Ethics** This week you should be reading your book or articles.

------------------------------
---------------------

### Web Scraping Ethical Issues

There are some things to be aware of before you start scraping data from the web. 

- Some data is private or protected. Just because you have access to a websites data doesn't mean you are allowed to scrape it. For example, when you log into Facebook or another social media site, you are granted special access to data about your connected people. It is unethical to use that access to scrape their private data!

- Some websites have rules against scraping and will cut of service to users who are clearly scraping data. How do they know? Webscrapers access the website very differently that regular users. If they site has a policy about scraping data then you should follow it and/or content them about getting the data if you have a true academic interest in the data.

- The line between web scraping and plagiarism can be very blurry. Make sure that you are citing where your data comes from AND not just reproducing the data exactly. Always citing the source of your data and make sure you are doing something new with it.

- Ethics are different depending on if you are using the data for a personal project (eg. you just want to check scores for your favorite team daily and print the stuff you care about) vs if you are using the project for your business or website (eg. publishing information to drive clicks to your site/video/account or making money from the data you collect). In the later case it is EXTRA important to respect the original owner of the data. Drive web traffic back to their site, check with them about using their data, etc.

**The Ethical Scraper** (from https://towardsdatascience.com/ethics-in-web-scraping-b96b18136f01):

I, the web scraper will live by the following principles:

- If you have a public API that provides the data I’m looking for, I’ll use it and avoid scraping all together.
- I will always provide a User Agent string that makes my intentions clear and provides a way for you to contact me with questions or concerns.
- I will request data at a reasonable rate. I will strive to never be confused for a DDoS attack.
- I will only save the data I absolutely need from your page. If all I need it OpenGraph meta-data, that’s all I’ll keep.
- I will respect any content I do keep. I’ll never pass it off as my own.
- I will look for ways to return value to you. Maybe I can drive some (real) traffic to your site or credit you in an article or post.
- I will respond in a timely fashion to your outreach and work with you towards a resolution.
- I will scrape for the purpose of creating new value from the data, not to duplicate it.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = 'colab'

from itables import show

# This stops a few warning messages from showing
pd.options.mode.chained_assignment = None 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Using pandas to get table data.

**Optional** - try using pandas to scrape a new site. See if you get errors or are able to find tables on that site.

---
---

## Using Beautiful Soup to get HTML code

### How to get data from static sites:

You should already have the packages bs4 and requests but if you get an error try running:

```{python}
!conda install -y bs4
!conda install -y requests
```

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
website = 'https://www.scrapethissite.com/pages/simple/'

In [4]:
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

#### Lets see what is in soup

**Q1** Uncomment this line and run the cell. You will see a TON of text!

In [53]:
#soup

### Extracting data from HTML:

We will use the **soup.find_all()** function.

Here is the simplified function signature:

    soup.find_all(name=None,attrs={})
    
You can type soup.find_all? and run it to see all the information about additional arguments and advanced processes.

**Here is how we will mostly use it**, but there are much more advanced things you can do:

    soup.find_all( <type of section>, <info> )
    
The **.find_all()** function searches through the information in soup to match and return only sections that match the info. Here are some important types you might search for:

- 'h2' - this is a heading
- 'div' - this divides a block of information
- 'span' - this divides inline information
- 'a' - this specifies a hyperlink
- 'li' - this is a list item

- class_= - many things have the class label (notice the underscore!)
- string= - you can also search by strings.


### Using Developer tools:

To figure out what data to extract I suggest you use developer tools on the website to find what you need. 

**Q2** Navigate to the website and use developer tools to explore the html code.

[Scrape This Site -  Website](https://www.scrapethissite.com/pages/simple/)

I really like Brave Browser or Google Chrome for this, but most browsers with have **More Tools/Developer Tools** where you can see the code.

### Search for all the country names

The names of the country are inside 
        
        <h3 class="country-name">

So lets search for this:

In [13]:
result = soup.find_all('span',class_="country-population")
#result

In [8]:
result[0]

In [14]:
DF = pd.DataFrame()

In [15]:
int(result[0].text)

84000

In [16]:
# Create a data frame and add the site names
# DF = pd.DataFrame()
DF['pop']=result
DF['pop'] = DF['pop'].apply(lambda x: int(x.text))
DF

          pop
0       84000
1     4975593
2    29121286
3       86754
4       13254
..        ...
245  23495361
246    159042
247  49000000
248  13460305
249  11651858

[250 rows x 1 columns]

### Your turn to try this!

**Q3** Now it's your turn. See if you can write code that gets the population and area information into the data frame. See if you can make your example match what I get below, including having the correct data types. Population should be an int and area should be a float.

Your goal is to get a data frame that looks like the one in lecture with columns for country, capital, population, and area!

### Where can you get more practice

Here is a website dedicated to allowing students to practice webscraping:

[www.scrapethissite.com](https://www.scrapethissite.com/pages/)

    website=https://www.scrapethissite.com/pages/
-----------------
### Exercise 1:

We are going to scrape the site above to get the list of all links. 

Open the website and look at the developer tools.

Here is our goal: Make a pandas data frame that contains three columns: 

* "site_name" - which contains just the words of the link
* "link" - which contains just the website part of the link
* "description" - which contains the words below the link

When looking for links you can use

    result = soup.find_all('a')
    result[0].text # Get the text associated with the link
    result[0].get('href') # Get the link location



See if you can do this without looking at my code in the notes! What would your plan have to be?

**See the lecture notes for hints and the solution!**

In [17]:
result = soup.find_all('a')
result[0].text # Get the text associated with the link
result[0].get('href') # Get the link location

'/'

In [18]:
# Get the soup
website = 'https://www.scrapethissite.com/pages/'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

In [19]:
# Search the soup for links
result = soup.find_all('a')

In [20]:
# Look at what we end up with and fix it till it looks good
result[0].text.lstrip().rstrip()

'Scrape This Site'

In [21]:
# The first few are from the top of the page not the main content
result[5].text.lstrip().rstrip()

'Countries of the World: A Simple Example'

In [40]:
# Create a data frame and add the site names
DF = pd.DataFrame()
DF['site_name'] = result
DF['site_name'] = DF['site_name'].apply(lambda x: x.text.lstrip().rstrip())
DF

                       site_name
0                Books to Scrape
1                           Home
2                          Books
3                         Travel
4                        Mystery
..                           ...
89
90  Libertarianism for Beginners
91
92       It's Only the Himalayas
93                          next

[94 rows x 1 columns]

In [23]:
# Look at what we ended up with but this time get the links
result[0].get('href')

'/'

In [24]:
result[5].get('href')

'/pages/simple/'

In [25]:
# Add these to the data frame
DF['link'] = result
DF['link'] = DF['link'].apply(lambda x: x.get('href'))
DF

                                           site_name                     link
0                                   Scrape This Site                        /
1                                            Sandbox                  /pages/
2                                            Lessons                /lessons/
3                                                FAQ                    /faq/
4                                              Login                  /login/
5           Countries of the World: A Simple Example           /pages/simple/
6      Hockey Teams: Forms, Searching and Pagination            /pages/forms/
7           Oscar Winning Films: AJAX and Javascript  /pages/ajax-javascript/
8         Turtles All the Way Down: Frames & iFrames           /pages/frames/
9  Advanced Topics: Real World Challenges You'll ...         /pages/advanced/

In [26]:
# Remove the top few links
DF = DF.drop([0,1,2,3,4])
DF

                                           site_name                     link
5           Countries of the World: A Simple Example           /pages/simple/
6      Hockey Teams: Forms, Searching and Pagination            /pages/forms/
7           Oscar Winning Films: AJAX and Javascript  /pages/ajax-javascript/
8         Turtles All the Way Down: Frames & iFrames           /pages/frames/
9  Advanced Topics: Real World Challenges You'll ...         /pages/advanced/

In [27]:
# Now search the soup for the words
# They are inside p class="lead session-desc"
result = soup.find_all('p',class_="lead session-desc")

In [28]:
result[0].text.rstrip().lstrip()

'A single page that lists information about all the countries in the world. Good for those just get started with web scraping.'

In [30]:
DF['description'] = result
DF['description'] = DF['description'].apply(lambda x: x.text.rstrip().lstrip())
DF
#this is the complete answer, we were trying to scrape the website to get a table with the site name, their links and also a brief description of what the link is about.

,site_name,link,description
5,Countries of the World: A Simple Example,/pages/simple/,A single page that lists information about all...
6,"Hockey Teams: Forms, Searching and Pagination",/pages/forms/,Browse through a database of NHL team stats si...
7,Oscar Winning Films: AJAX and Javascript,/pages/ajax-javascript/,Click through a bunch of great films. Learn ho...
8,Turtles All the Way Down: Frames & iFrames,/pages/frames/,Some older sites might still use frames to bre...
9,Advanced Topics: Real World Challenges You'll ...,/pages/advanced/,"Scraping real websites, you're likely run into..."

### Challenge Problem

Here is another website to scrape. See if you can create a data frame that looks like the one in the lecture notes. Notice that you can only scrape the first page with the first link. 

If you want to try scraping the other pages you have to notice how the website updates its address for each page. Then write a for loop to loop through how ever many pages you want to scrape. Do the same set of operations for each page keep adding data to your data frame.

Make a histogram of your final data.

In [52]:
website='https://books.toscrape.com/index.html'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

**Try to scrape the name, the link to the book, and the prices! I decided to put the name and link information into a single column and then break that apart**

In [36]:
# Search the soup for links
result = soup.find_all('a')

In [37]:
# Look at what we end up with and fix it till it looks good
result[0].text.lstrip().rstrip()

'Books to Scrape'

In [38]:
# The first few are from the top of the page not the main content
result[5].text.lstrip().rstrip()

'Historical Fiction'

In [41]:
DF = pd.DataFrame()
DF['site_name'] = result
DF['site_name'] = DF['site_name'].apply(lambda x: x.text.lstrip().rstrip())
DF

                       site_name
0                Books to Scrape
1                           Home
2                          Books
3                         Travel
4                        Mystery
..                           ...
89
90  Libertarianism for Beginners
91
92       It's Only the Himalayas
93                          next

[94 rows x 1 columns]

In [42]:
# Look at what we ended up with but this time get the links
result[0].get('href')

'index.html'

In [43]:
result[5].get('href')

'catalogue/category/books/historical-fiction_4/index.html'

In [71]:
DF['link'] = result
DF['link'] = DF['link'].apply(lambda x: x.get('href'))
DF

Empty DataFrame
Columns: [price, link]
Index: []

In [45]:
# Remove the top few links
DF = DF.drop([0,1,2,3,4])
DF

,site_name,link
5,Historical Fiction,catalogue/category/books/historical-fiction_4/...
6,Sequential Art,catalogue/category/books/sequential-art_5/inde...
7,Classics,catalogue/category/books/classics_6/index.html
8,Philosophy,catalogue/category/books/philosophy_7/index.html
9,Romance,catalogue/category/books/romance_8/index.html
...,...,...
89,,catalogue/libertarianism-for-beginners_982/ind...
90,Libertarianism for Beginners,catalogue/libertarianism-for-beginners_982/ind...
91,,catalogue/its-only-the-himalayas_981/index.html
92,It's Only the Himalayas,catalogue/its-only-the-himalayas_981/index.html
93,next,catalogue/page-2.html

In [70]:
#we need to add a column for prices
# Add these to the data frame

Empty DataFrame
Columns: [price]
Index: []

In [76]:
 result = soup.find_all('p', class_ = 'price_color')

In [82]:
float(result [0].text.replace('Â','').replace ('£',''))

51.77

In [83]:
DF=pd.DataFrame()
DF['price'] = result
DF['price'] = DF['price'].apply(lambda x: float(x.text.replace('Â','').replace ('£','')))
DF

    price
0   51.77
1   53.74
2   50.10
3   47.82
4   54.23
5   22.65
6   33.34
7   17.93
8   22.60
9   52.15
10  13.99
11  20.66
12  17.46
13  52.29
14  35.02
15  57.25
16  23.88
17  37.59
18  51.33
19  45.17